<h1>Welcome!</h1>
<br />

<h4>Create a new project:</h4>

<form action="/" method="post">
  <input id="title" name="title" type="text">
  <button type="submit">Create Project</button>
</form>
<br />

<h4>Current Projects:</h4>

<% if @projects.any?() %>
  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/projects/<%=project.id()%>"><%= project.title() %></a> </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no current projects.</p>
<% end %>
