<h3>Create a new project:</h3>

<form action="index.html" method="post">
  <label for="title">Project title</label>
  <input id="title" name="title" type="text">

  <button type="submit">Create Project</button>
</form>
