<h1><%= @project.title %></h1>
<br />

<h4>Rename or Delete:</h4>

<form style="display: inline" action="/projects/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input id="title" name="title" type="text">
  <button type="submit">Update Project</button>
</form>

<form style="display: inline;" action="/<%= @project.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Project</button>
</form>
